body {
  background-color: antiquewhite;
}
h1 {
  font-family: Arial, Helvetica, sans-serif
  font-size: 40px;
}
h2 {
  font-family: 'Times New Roman', Times, serif
  font-size: 30px;
}
p {
  font-size: 20px
}
li {
  color: royalblue;
}